* {
    background-color: cyan;
    color: black;
}

.name {
    color: white;
}

#husky {
    color: greenyellow;
    background: yellow;
}

#photo {
    width: 600px;
    height: 400px;
}